<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_-6ppyNZiqnyW3H0kUrGQ9x7gjsHdTqA</string>
	<key>GCM_SENDER_ID</key>
	<string>1082700149503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.noteApp52.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>noteapp52</string>
	<key>STORAGE_BUCKET</key>
	<string>noteapp52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082700149503:ios:9013e5defd289567e812ca</string>
</dict>
</plist>